<script type="text/javascript" src="application"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<div class="row">
<div class="col-md-12">
<canvas id="myChart"></canvas>
</div>
</div>
<div class="row">
<div class="col-md-12">
              <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Fund Value Required for Retirement</th>
                                                <th>Premium</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td><%=@formula.round(2)%></td> 
                                              <td><%=@premium.round(2)%></td>
                                              </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
<div class="row">
<div class="col-md-12">
              <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Difference</th>
                                                <th>Advice</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td><%=@difference%></td> 
                                              <td><%=@advice%></td>
                                              </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
<div class="col-md-12">
              <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Table</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Age</th>
                                                <th>Fund Value</th>
                                                <th>Withdrawals</th>
                                                <th>Growth</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% x=1%>
                                        <% y=0%>
                                            <tr>
                                             <% @outputs.each do |i|%>
                                              <td><%=x%></td>
                                              <td><%=i%></td> 
                                              <td><%=@outputs_int2[y]%></td>
                                              <td><%=@growths[y]%></td>
                                              </tr>
                                              <%y+=1%>
                                              <%x+=1%>
                                              <%end%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%=@labels%>,
        datasets: [{
          type: 'line',
          label: '',
          fill: false,
          data: <%=@outputs_int%>,
          borderColor: '#FF0000'
        },
        {
          label: 'Nominal',
          backgroundColor: '#99CC99',
          data: <%=@outputs_int%>

        },
        <% if @outputs2_int%>
        {
          label: 'Real value',
          data: <%=@outputs2_int%>,
          backgroundColor: '#FF0000'
        }
        <%end%>]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>