<script type="text/javascript" src="application"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<div class="row">
<div class="col-md-12">
<canvas id="myChart"></canvas>
</div>
</div>
<div class="row">
<div id="donughtchart">
<div class="col-lg-12">
<canvas id="myChart2"></canvas>
</div>

Total: <%=@total.round(2)%></br>
Premium: <%=@premium.round(2)%></br>
<%=@child_final_totals%>
<%=@child_name_labels%>
  <!-- Nav tabs -->
</div>
<div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#childexpenses" aria-controls="childexpenses" role="tab" data-toggle="tab">Child Expenses</a></li>
    <li role="presentation"><a href="#fundbreakdown" aria-controls="fundbreakdown" role="tab" data-toggle="tab">Fund Breakdown</a></li>
  </ul>
</div>

<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="childexpenses">
  <div class="col-lg-12">
              <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Child Expenses </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Year</th>
                                            <% @child_names.each do |i|%>
                                                <%if i == nil%>
                                                <%else%>
                                                <th><%=i%></th>
                                                <%end%>
                                            <%end%>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% x = 0%>
                                        <% @totalexpenses.each do |i|%>
                                            <tr>
                                              <td><%=x%></td>
                                              <%if @child_name%>
                                              <td><%=i[0].round(2)%></td> 
                                              <%end%>
                                              <%if @child2_name%>
                                              <td><%=i[1].round(2)%></td> 
                                              <%end%>
                                              <%if @child3_name%>
                                              <td><%=i[2].round(2)%></td> 
                                              <%end%>
                                              <%if @child4_name%>
                                              <td><%=i[3].round(2)%></td> 
                                              <%end%>
                                              <%if @child5_name%>
                                              <td><%=i[4].round(2)%></td>
                                              <%end%>
                                              <%if @total%>
                                              <td><%=i[5].round(2)%></td>
                                              <%end%>
                                              <%x+=1%> 
                                            </tr>
                                            <%end%>
                                            <tr>
                                            <td> Total: </td>
                                            <%if @child_total !=0%>
                                            <td><%=@child_total%></td>
                                            <%end%>
                                            <%if @child2_total !=0%>
                                            <td><%=@child2_total%></td>
                                            <%end%>
                                            <%if @child3_total !=0%>
                                            <td><%=@child3_total%></td>
                                            <%end%>
                                            <%if @child4_total !=0%>
                                            <td><%=@child4_total%></td>
                                            <%end%>
                                            <%if @child5_total !=0%>
                                            <td><%=@child5_total%></td>
                                            <%end%>
                                            <%if @childall_total !=0%>
                                            <td><%=@childall_total%></td>
                                            <%end%>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
          </div>
<div role="tabpanel" class="tab-pane active" id="fundbreakdown">
<div class="col-lg-12">
              <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Withdrawal and Fund Values </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Year</th>
                                                <th>Opening Balance</th>
                                                <th>Withdrawals</th>
                                                <th>End Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% x = 0%>
                                        <% y = 0%>
                                        <% @totaltimes.to_i.times do %>
                                            <tr>
                                              <td><%=y%></td>
                                              <td><%=@pres[x]%></td>
                                              <td><%=@totals[x]%></td>
                                              <td><%=@post[x]%></td>
                                              <%x+=1%> 
                                              <%y+=1%> 
                                            </tr>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
          </div>
          </div>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%=@labels%>,
        datasets: [{
          type: 'line',
          label: '',
          fill: false,
          data: <%=@pres%>,
          borderColor: '#99CC99'
        },
        {
          label: 'Cost',
          backgroundColor: '#FF0000',
          data: <%=@totals%>

        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>

<script>
var dtx = document.getElementById("myChart2");
var myChart = new Chart(dtx, {
    type: 'bar',
    data: {
        labels: <%=@child_name_labels%>,
        datasets: [{
          type: 'line',
          label: '',
          fill: false,
          data: <%=@child_final_totals%>,
          borderColor: '#99CC99'
        },
        {
          label: 'Cost',
          backgroundColor: '#FF0000',
          data: ['10']
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>