<script type="text/javascript" src="application"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<div class="row">
<div class="col-md-12">
<canvas id="myChart"></canvas>
</div>
</div>
<div class="row">
<div id="donughtchart">
<div class="col-lg-6">
<canvas id="donught" width="300" height="300"></canvas>
Total: <%=@total%></br>
<%if @formula%>
Formula: <%=@formula%></br>
Premium: <%=@premium%></br>
<%end%>
</div>
</div>
<div class="col-lg-3">
              <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Nominal Growth Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Year</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% x=@child_currentage.to_int%>
                                        <% @outputs.each do |i|%>
                                            <tr>
                                              <td><%=x%></td>
                                              <td><%=i%></td> 
                                            </tr>
                                            <%x+=1%>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
              <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Real Growth Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Year</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% x = @child_currentage.to_i%>
                                        <% if @outputs2%>
                                        <% @outputs2.each do |i|%>
                                            <tr>
                                              <td><%=x%></td>
                                              <td><%=i%></td> 
                                            </tr>
                                            <%x+=1%>
                                            <%end%>
                                             <%end%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%=@labels%>,
        datasets: [{
          type: 'line',
          label: '',
          fill: false,
          data: <%=@outputs_int%>,
          borderColor: '#FF0000'
        },
        {
          label: 'Nominal',
          backgroundColor: '#99CC99',
          data: <%=@outputs_int%>

        },
        <% if @outputs2_int%>
        {
          label: 'Real value',
          data: <%=@outputs2_int%>,
          backgroundColor: '#FF0000'
        }
        <%end%>]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>
<script>
var dtx = document.getElementById("donught").getContext('2d');
var myChart = new Chart(dtx, {
  type: 'doughnut',
  data: {
    labels: ["Growth", "Initial", "Contributions"],
    datasets: [{
      backgroundColor: [
        "#2ecc71",
        "#000080",
        "#3498db"
      ],
      data: [<%=@growth%>, <%=@initial%>, <%=@contributions%>]
    }]
  }
});
</script>