<script type="text/javascript" src="application"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<div class="row">
<div class="col-md-12">
<canvas id="myChart"></canvas>
</div>
</div>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Fund & Premium Information</a></li>
    <li role="presentation"><a href="#fundbreakdown" aria-controls="fundbreakdown" role="tab" data-toggle="tab">Fund Breakdown</a></li>
  </ul>

</div>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="information">
<div class="row">
<div class="col-md-12">
              <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Year</th>
                                                <th>Expense</th>
                                                <th>Income</th>
                                                <th>Investment from Asset</th>
                                                <th>Difference</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <%x=0%>
                                          <% @totaltimes.to_i.times do%>
                                            <tr>
                                              <td><%=x%></td> 
                                              <td><%=@totalexpensearray[x].round(2)%></td>
                                              <td><%=@totalincomearray[x].round(2)%></td>
                                              <td><%=@investmentarray[x].round(2)%></td>
                                              <td><%=@differencearray[x].round(2)%></td>
                                              <%x+=1%>
                                              </tr>
                                              <%end%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>
                  </div>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%=@labels%>,
        datasets: [{
          type: 'line',
          label: 'Income',
          fill: false,
          data: <%=@graph_income%>,
          borderColor: '#FF0000'
        },
        {
          type: 'line',
          label: 'Expenses',
          fill: false,
          data: <%=@graph_expense%>,
          borderColor: '#99CC99'
        },
        {
          type: 'line',
          label: 'Investment',
          fill: false,
          data: <%=@graph_investment%>,
          borderColor: '#0000FF'
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>