<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<div class="container">
			<div class="row main">
			<div role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#livingexpense" aria-controls="livingexpense" role="tab" data-toggle="tab">Living Expense</a></li>
			    <li role="presentation"><a href="#otherexpenses" aria-controls="otherexpenses" role="tab" data-toggle="tab">Other Expenses</a></li>
			    <li role="presentation"><a href="#income" aria-controls="income" role="tab" data-toggle="tab">Income</a></li>
			    <li role="presentation"><a href="#assets" aria-controls="assets" role="tab" data-toggle="tab">Assets</a></li>
			  </ul>
			<div class="col-lg-2">
				<div class="main-login main-center">
				<h2>Insurance</h2>
				<%= form_for :insurance, url:"insurance" do |f| %>
				<div class="col-lg-12">

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="livingexpense">

				<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Years for insurance to cover:</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[yearstocover]" id="insurance_yearstocover" value=<%=@yearstocover%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Rate earned on Investment:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[rateearnedinvest]" id="insurance_rateearnedinvest" value=<%=@rateearnedinvest%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Inflation:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[inflation]" id="insurance_inflation" value=<%=@inflation%>>
								</div>
								</div>
							</div>
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Child Care:</label>
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Monthly Amount:</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[childcareamount]" id="insurance_childcareamount" value=<%=@childcareamount%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Start Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[childcarestartyear]" id="insurance_childcarestartyear" value=<%=@childcarestartyear%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">End Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[childcareendyear]" id="insurance_childcareendyear" value=<%=@childcareendyear%>>
								</div>
								</div>
							</div>
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Living Expense with Child at Home:</label>
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Monthly Amount</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[lechildhomeamount]" id="insurance_lechildhomeamount" value=<%=@lechildhomeamount%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Start Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[lechildhomestartyear]" id="insurance_lechildhomestartyear" value=<%=@lechildhomestartyear%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">End Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[lechildhomeendyear]" id="insurance_lechildhomeendyear" value=<%=@lechildhomeendyear%>>
								</div>
								</div>
							</div>
							</div>
						</div>


						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Living Expense with Child Gone:</label>
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Monthly Amount</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[lechildgoneamount]" id="insurance_lechildgoneamount" value=<%=@lechildgoneamount%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Start Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[lechildgonestartyear]" id="insurance_lechildgonestartyear" value=<%=@lechildgonestartyear%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">End Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[lechildgoneendyear]" id="insurance_lechildgoneendyear" value=<%=@lechildgoneendyear%>>
								</div>
								</div>
							</div>
							</div>
						</div>


						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Children's College Expenses:</label>
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Monthly Amount</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[childrencollegeamount]" id="insurance_childrencollegeamount" value=<%=@childrencollegeamount%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Start Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[childrencollegestartyear]" id="insurance_childrencollegestartyear" value=<%=@childrencollegestartyear%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">End Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[childrencollegeendyear]" id="insurance_childrencollegeendyear" value=<%=@childrencollegeendyear%>>
								</div>
								</div>
							</div>
							</div>
						</div>


						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Retraining and Education for Spouse:</label>
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Monthly Amount</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[retrainingspouseamount]" id="insurance_retrainingspouseamount" value=<%=@retrainingspouseamount%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Start Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[retrainingstartyear]" id="insurance_retrainingstartyear" value=<%=@retrainingstartyear%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">End Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[retrainingendyear]" id="insurance_retrainingendyear" value=<%=@retrainingendyear%>>
								</div>
								</div>
							</div>
							</div>
						</div>
						<label for="name" class="cols-sm-2 control-label">Other Expenses:</label>
						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Monthly Amount</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[oeamount]" id="insurance_oeamount" value=<%=@oeamount%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Start Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[oestartyear]" id="insurance_oestartyear" value=<%=@oestartyear%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">End Year:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[oeendyear]" id="insurance_oeendyear" value=<%=@oeendyear%>>
								</div>
								</div>
							</div>
					







						<div role="tabpanel" class="tab-pane" id="otherexpenses">
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Death Duties</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[deathduties]" id="insurance_deathduties" value=<%=@deathduties%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Probate Costs</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[probatecosts]" id="insurance_probatecosts" value=<%=@probatecosts%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Funeral Costs:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[funeralcosts]" id="insurance_funeralcosts" value=<%=@funeralcosts%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Uninsured Medical Costs:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[uninsuredmedicalcosts]" id="insurance_uninsuredmedicalcosts" value=<%=@uninsuredmedicalcosts%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Debt Repayment:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[debtrepayment]" id="insurance_debtrepayment" value=<%=@debtrepayment%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">College Fund for Child 1:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[collegefund1]" id="insurance_collegefund1" value=<%=@collegefund1%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">College Fund for Child 2:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[collegefund2]" id="insurance_collegefund2" value=<%=@collegefund2%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">College Fund for Child 3:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[collegefund3]" id="insurance_collegefund3" value=<%=@collegefund3%>>
								</div>
								</div>
							</div>
							</div>
							</div>
							</div>
						</div>
						</div>







						<div role="tabpanel" class="tab-pane" id="income">
						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Spouse Income Monthly Amount</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[spouseincomeamount]" id="insurance_spouseincomeamount" value=<%=@spouseincomeamount%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Spouse Income Start Year</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[spouseincomestart]" id="insurance_spouseincomestart" value=<%=@spouseincomestart%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Spouse Income End Year</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[spouseincomeyears]" id="insurance_spouseincomeyears" value=<%=@spouseincomeyears%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Other Monthly Income:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[otherincomeamount]" id="insurance_otherincomeamount" value=<%=@otherincomeamount%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Other Income Start:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[otherincomestart]" id="insurance_otherincomestart" value=<%=@otherincomestart%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Other Income End:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[otherincomeend]" id="insurance_otherincomeend" value=<%=@otherincomeend%>>
								</div>
								</div>
							</div>
							</div>
						</div>
						</div>





						<div role="tabpanel" class="tab-pane" id="assets">
						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
								<label for="name" class="cols-sm-2 control-label">Cash and Savings</label>
								<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[cashandsavings]" id="insurance_cashandsavings" value=<%=@cashandsavings%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Home Equity</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[homeequity]" id="insurance_homeequity" value=<%=@homeequity%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Investments:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[investments]" id="investments" value=<%=@investments%>>
								</div>
								</div>
							<label for="email" class="cols-sm-2 control-label">Other:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
									<input class="form-control" type="number" name="insurance[other]" id="other" value=<%=@other%>>
								</div>
								</div>
							</div>
							</div>
						</div>
						</div>
						</div>

					
						<div class="form-group ">
							  <%= f.submit "Calculate!", :class => 'btn btn-primary' %>
							<% end %>
						</div>
						</div>
				</div>
			</div>
			</div>


<%if @inflation %>
<div class="col-lg-10">
<%=render "graph_insurance"%>
</div>
<%else%>
<div class="col-lg-10">
<%=render "dummygraph"%>
</div>
<%end%>
</div>
</div>